@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.app {
  font-family: 'Inter';
}

button {
  transition: all 0.2s ease 0s;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}