.pin-form-container {
    background: #262626;
    position: absolute;
    padding: 5vh;
    min-height: 38vh;
    width: 20vw;
    top: 20vh;
    left: 35vw;
    z-index: 10;
    text-align: center;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.pin-form-container > h2 {
    font-size: 2.6vh;
}

.pin-form-container > select {
    width: 20vw;
    padding: 0.5vh;
}

.pin-form-container > select:focus {
    outline: none;
}

.form-textarea {
    padding-bottom: 5vh;
    width: 20vw;
    background-color: #2a4046;
    border: 1px solid #698a95;
    color: whitesmoke;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    resize: none;
}

.form-textarea:focus {
    outline: none;
}

.formLabel {
    display: flex;
    font-size: 2vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.form-submit {
    padding: 1.5vh;
    min-width: 7vw;
    background-color: #3c4e82;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 6%;
}

.pin-form-error-list {
    margin-top: 10px;
    font-size: 1.6vh;
    list-style-type: none;
    color: rgb(194, 39, 39);
}

#pin-show-id {
    height: 0;
    width: 40%;
    min-width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    border: 1px solid #333;
}

.hidden-div {
    display: none;
}

.close-btn {
    background-color: transparent;
    border: none;
    float: right;
    font-size: 6vh;
}

#close-icon {
    width: 40px;
    height: 40px;
}

.show-pic {
    width: 300px;
    height: 200px;
    box-shadow: 4px 4px 15px 8px rgb(185, 185, 185);
}

.pic-box {
    margin: 2%;
}

.pin-show-container div {
    padding: 1%;
}

.pin-show-container {
    padding: 3%;
    text-align: center;
    align-items: center;
    background: rgb(230, 227, 227);
}

#pin-show-id {
    background: rgb(231, 227, 227);
}

#pin-show-header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 4%;
}

#show-date {
    font-weight: bold;
}

#pin-description {
    text-align: left;
    line-height: 20px;
}

.show-category {
    font-style: italic;
}

.add-comment {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    min-width: 9vw;
    font-size: 1.5vh;
    background-color: #334988;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
}

#discussion {
    font-weight: bold;
    margin-top: 4%;
}

.fa-icon-box {
    background-color: transparent;
    border: none;
    font-size: 3vh;
}

.edit-comment-icon {
    background-color: transparent;
    border: none;
    font-size: 4.5vh;
}

.edit-pin-form {
    margin: 2%;
}

.edit-pin-category {
    font-style: italic;
    margin: 1.5%;
}

.formDrop {
    width: 10vw;
    padding: 0.4vh;
}

input[type='file'] {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-wrap: wrap;
}