/* .pinForm {
    background: yellow;
} */

.pin-show {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid #333;
}