.social-media {
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
  font-size: 4vh;
}

.dev-pic {
  width: 200px;
  height: 200px;
  padding-bottom: 6%;
}

.dev-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#about-header {
  text-align: center;
  font-size: 4vh;
  margin-top: 3%;
  margin-bottom: 4%;
}

.dev-item {
  width: 15%;
}

.dev-name {
  font-size: 25px;
  padding-bottom: 5%;
}