.dev-pic {
  width: 200px;
  height: 200px;
  padding-bottom: 5%;
}

.dev-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.about-header {
  text-align: center;
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.dev-item {
  width: 15%;
}

.dev-name {
  font-size: 25px;
  padding-bottom: 5%;
}