.account-btn {
  background-color: #fff;
  border: none;
  margin-top: 7%;
  font-size: 5vh;
}

#delete-icon {
  width: 30px;
  height: 35px;
}

.reports-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4%;
  grid-column-gap: 2%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#account-header {
  text-align: center;
  font-size: 35px;
  margin: 2.5%;
  font-weight: bolder;
}

.report {
  width: 90%;
  padding: 5%;
  margin-right: 2%;
  box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
}

#report-description {
  text-align: left;
}

#report-date {
  font-size: 150%;
  font-weight: 700;
  margin-top: 3%;
}

#report-category {
  font-size: 120%;
  margin-top: 3%;
}

#report-description {
  margin-top: 4%;
}

#no-reports {
  text-align: center;
  margin-top: 3%;
  font-size: 20px;
}
