.account-btn {
  background-color: transparent;
  border: none;
  margin-top: 7%;
  font-size: 5vh;
}

.account-btn-container {
  text-align: center;
}

#delete-icon {
  width: 30px;
  height: 35px;
}

.reports-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4%;
  grid-column-gap: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 15vh;
}

#account-header {
  text-align: center;
  font-size: 35px;
  margin: 2.5%;
  font-weight: bolder;
}

.report {
  width: 90%;
  padding: 5%;
  margin-right: 2%;
  box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
}

#report-description {
  text-align: left;
}

#report-date-container, 
#report-category-container,
#report-description-container {
  margin-top: 6px;
  margin-bottom: 6px;
}

#report-date-container, #report-category-container {
  display: flex;
  align-items: center;
}

#report-description-container {
  display: flex;
  flex-direction: column;
}

#report-description-title {
  margin-bottom: 4px;
}

#report-description {
  line-height: 1.2em;
}

#report-date-title, #report-category-title,
#report-description-title {
  font-size: 120%;
  font-weight: 600;
}

#report-category {
  font-size: 120%;
  margin-top: 3%;
}

#no-reports {
  text-align: center;
  margin-top: 3%;
  font-size: 20px;
}
