* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-item {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: sans-serif; */
    position: relative;
    overflow: hidden;
    padding-top: 2%;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    color: #38877a;
    font-size: 30px;
    font-weight: 600;
    float: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_links {
    list-style: none;
    float: right;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.my-account {
    text-decoration: none;
    color: white;
}

.navbar-button {
    padding: 15px 15px;
    background-color: #38877a;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: white;
    font-size: 12px;
}

.navbar-button:hover {
    opacity: 0.9;
}