.navbar {
    position: relative;
    overflow: hidden;
    background: #81bdb3;
    border-bottom: 2px solid #0c302a;
}

.logo {
    text-decoration: none;
    color: #246f63;
    font-size: 4vh;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.my-account {
    text-decoration: none;
    color: white;
}

.about {
    text-decoration: none;
    color: white;
}

.navbar-button {
    padding: 12px 12px;
    width: 110px;
    background-color: #38877a;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}