@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.navbar {
    /* font-family: 'Rubik Glitch'; */
    font-family: 'Permanent Marker';
    position: relative;
    overflow: hidden;
    /* background: rgb(135, 170, 180); */
    background-image: linear-gradient(to right, rgb(87, 128, 140) , rgb(123, 172, 185));
    border-bottom: 2px solid #0c302a;
    padding: 1%;
    color: rgb(13, 13, 84);
}

.logo {
    text-decoration: none;
    font-size: 4vh;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-button {
    padding: 12px 12px;
    width: 110px;
    background-color: #334988;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* .navbar-button:hover {
    background: white;
    color: rgb(39, 59, 102);
} */