html, body{
    margin: 0;
    overflow-x: hidden;
}

#map {
    width: 99.6vw;
    height: 95vh;
}

#add-incident {
    background: #fb4b4b;
    color: #fff;
    border: none;
    position: absolute;
    top: 20vh;
    right: 1vw;
    height: 4vh;
    font-size: 1.3vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    outline: none;
    transition: ease 400ms;
    z-index: 11;
    border-radius: 10px;
    font-weight: bold;
}

#add-incident:hover {
    background: white;
    color: red;
}