#map {
    width: 99.99vw;
    height: 96vh;
}

#add-incident {
    background: #fb4b4b;
    color: #fff;
    border: none;
    position: absolute;
    margin-top: 5vh;
    left: 86vw;
    height: 5vh;
    width: 10vw;
    font-size: 1.7vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    outline: none;
    transition: ease 400ms;
    z-index: 11;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 1px 1px 15px 5px rgb(255, 121, 130);
}

#add-incident:hover {
    background: white;
    color: red;
}

#floating-panel {
    position: absolute;
    background: white;
    z-index: 12;
    padding: 1vh;
}
