html, body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#map {
    width: 99.99vw;
    height: 96vh;
}

#add-incident {
    background: #fb4b4b;
    color: #fff;
    border: none;
    position: absolute;
    top: 5vh;
    left: 88vw;
    height: 5vh;
    width: 10vw;
    font-size: 1.7vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    outline: none;
    transition: ease 400ms;
    z-index: 11;
    border-radius: 10px;
    font-weight: 400;
}

#add-incident:hover {
    background: white;
    color: red;
}

#floating-panel {
    position: absolute;
    background: white;
    z-index: 12;
    padding: 1vh;
}